body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ------------------- styling for new employee and overwrite bootstrap ---------------------- */
.labelStyling{
  font-size: 0.5rem;
}

.inputField{
  font-size: 0.5rem;
}

.addPerBtn{
  font-size: 0.5rem;
}
/* -------------------------------------------------------------------------------------------- */